﻿@{ 
    ViewData["title"] = "Carrossel";
}

@model List<Produto>;

<h3>Catálogo</h3>


<div id="my-carousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        @{ 
            const int NUMERO_PAGINA = 4;
            int paginas = (int)Math.Ceiling((double)Model.Count() / NUMERO_PAGINA);
        }

        @for(var pagina = 0; pagina < paginas; pagina ++)
        {
        <div class="item @(pagina == 0 ? "active" : "")">
            <div class="row">
                @{ 
                    var produtos = Model.Skip(pagina * NUMERO_PAGINA).Take(NUMERO_PAGINA);
                }

                @foreach(var produto in produtos)
                {
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_@(produto.Codigo).jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">@produto.Nome</div>
                            <div><h4><strong>R$ @produto.Preco</strong></h4></div>
                            <div class="text-center">
                                @Html.ActionLink("Adicionar", "Carrinho", "Pedido", new { codigo = produto.Codigo }, new {@class = "btn btn-success"})
                                <a asp-action="Carrinho"
                                   asp-route-codigo="@produto.Codigo"
                                   class="btn btn-success">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
        }
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>