﻿@{ 
    ViewData["title"] = "Resumo";
}

@model  Pedido;

<h3>Resumo do Pedido</h3>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h3>Nº do Pedido: @(Model.Id)</h3>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <h3>Seus Dados</h3>
                <div>Harry Porto</div>
                <div>(11) 1234-5678</div>
            </div>
            <div class="col-md-3">
                luara.da.silva@gmail.com
            </div>
            <div class="col-md-6">
                <h3>Endereço de Entrega</h3>
                <div>Rua dos Alfeneiros, no. 4 (embaixo da escada) - Little Whinging - Surrey - Reino Unido</div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-10">
                <h3>Item</h3>
            </div>
            <div class="col-md-2">
                <h3>Quantidade</h3>
            </div>
        </div>
        @foreach (var item in Model.Itens)
        {
            <div class="row">
                <div class="col-md-10">
                    <div>@(item.Produto.Nome)</div>
                </div>
                <div class="col-md-2">
                    <div class="pull-right">@(item.Quantidade)</div>
                </div>
            </div>
        }

    </div>
</div>
